body   
{  
height: 125vh;  
margin-top: 80px;  
padding: 30px;  
background-size: cover;  
font-family: monospace; 



    }
 #container {  
    background-color: lavender;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 5px;  
    height: 100px;  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
    
      
    }  
    header * {  
        display: inline; 
        
        }  
        header li {  
        margin: 20px;  
        font-size:1rem;
        
        }  
        header li a {  
        color: mediumslateblue;  
        text-decoration: none; 
        
        }
    #precautions{
        color: red;}

.tide{
    background-image: url(tidal_wave.jpg);
    background-size: cover;
    width:fit-content;
    height:800px;
    border-top-left-radius: 1cm;
    border-top-right-radius: 1cm;
    border-bottom-left-radius: 1cm;
    border-bottom-right-radius: 1cm;
    
    
}
.content{
   
    -webkit-text-stroke: 1px #000;
    color:rgb(153, 207, 207);
    padding-top :250px;
    padding-bottom:250px;
    padding-left:50px;
    padding-right:50px;
    
}
.coast{
    font-size:1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}